/** About-Me Styles **/

body {
    overflow: hidden;
    margin: 0 0 0 0;
}

.container {
    overflow: hidden;
    height: auto;
    width: auto;
}

#photo {
    display: block;
    
    float: left;

    width: 27%;
    height: 27%;

    padding: 10px 10px 10px 10px;
    
    margin: 4% 0 4% 4%;

    border-radius: 410px;

}

main {
    display: inline;
}

article {
    margin: 110px 30px 0 0;
    text-align: right;

    font-family: Maven Pro, sans-serif;
}

h2 {
    font-size: 80px;
    margin-bottom: 10px;
}

h3 {
    font-size: 34px;
    font-style: normal;
    font-weight: bold;

    margin: 10px 0 20px 200px;
    padding: 15px 0 15px 0;

    /*background: #E8EDF5;*/
}

p {
    font-size: 20px;
    margin: 20px 0 10px 0;
}

#back-block {
    position: absolute;
    width: 660.15px;
    height: 1139.06px;
    left: -390px;
    bottom: -60px;

    background: #55D1C4;
    transform: rotate(-13.5deg);

    z-index: -1;

}