/** General Styles **/

header {
    background-color: #22333B;
    width: 100%;
    list-style-type: none;
    position: absolute;
    top: 0px;
    height: 90px;
    z-index: 10000;
}

#navbar-header {
    font-family: Maven Pro, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 42px;
    float: left;
    margin: 19.5px 24px 0px 24px;

    color: #E5E5E5;

    position: relative;
    top: 3px;
}

#logo-header {
    width: 30px;
    height: auto;
    padding: 0px 24px 0px 0px;
    float: left;
}

nav {
    padding-right: 35px;
}

nav ul {
    margin: 0 0 0 0;
}

.navlink {
    list-style-type: none;
    float: right;
}

.navlink a {
    display: block;
    text-align: center;
    padding: 24px;

    font-family: Maven Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 42px;
    
    text-decoration: none;

    color: #E5E5E5;
}

.navlink a:hover {
    color: #F76C5E;
}

.char-highlight {
    color: #F76C5E;
}

body {
    margin: 0 0 0 0;
}

h2 {
    display: block;
    font-family: Maven Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 72px;

    color: #000000;
}

#header-bottom {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 96px;
    background: #1B998B;
    z-index: 1;
}

/** Footer Styles **/
#page-container {
    position: relative;
    min-height: 100vh;

    overflow-x: hidden;
  }
  
#content-wrap {
    padding-bottom: 65px;    /* Total Footer height + 5px */
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;            /* Footer height */
    background: #22333B;

    text-align: right;

    line-height: 14px;
}

#footer-top {
    position: relative;
    bottom: 20px;
    width: inherit;
    height: 20px;  
    background: #F76C5E;
    z-index: -1;
}

#footer-text {
    position: relative;
    bottom: 14px;
}

footer p {
    color: #E5E5E5;

    margin: 0 5px 0 0;

    font-family: Maven Pro, sans-serif;
    font-size: 12px;
}

.footer-link {
    text-decoration: none;
    color: #E5E5E5;

    margin: 0 5px 0 0;

    font-family: Maven Pro, sans-serif;
    font-size: 10px;
}


/** Main **/
/*#main-body {
    margin-top: 90px;
}*/

/** Flexbox **/
.flex-body {
    display: flex;
    flex-flow: row;
    padding: 0 10px 0 10px;
}

.content {
    display: flex;
    flex-grow: 1;
}

.content-container {
    display: flex;
    width: 100%;

    /*border-radius: 15px;*/
    background-color: #E8EDF5;
}

.content-body {
    align-items: left;
    padding-bottom: 10px;
    height: auto;

    margin: 0 10px 0 10px;
}

/* Sub-Containers */
.section-full {
    width: 100%;
    margin: 10px 10px 10px 10px;
    
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background: #E8EDF5;
}

.section-header {
    margin: 0px 0px 0px 0px;
    padding: 5px 15px 10px 15px;
    width: 100;
}

.section-header h2 {
    color: #FFFFFF
}

    /* Colors */
    #bittersweet {
        background: #F76C5E;
    }

    #turquoise {
        background: #55D1C4;
    }

    #yellow {
        background: #ECC30B;
    }

    #purple {
        background: #BB6BD9;
    }
    
    #gunmetal {
        background: #22333B;
    }
    

.sub-content {
    display: flex;
    flex-grow: 1;
}

.sub-container {
    display: flex;
    align-items: left;

    margin: 10px 0px 10px 0px;
    padding: 10px 15px 10px 15px;
    width: 100%;

    border-radius: 15px;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.sub-body {
    height: auto;
}

#fit-container {
    width: auto;
}

/** Other **/
.float-left {
    float: left;
}

.side-padding {
    padding: 0 10px 0 10px;
}

.text-align-right {
    text-align: right;
}