/*** Main Site Styles ***/
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro");

/* Variable declarations */
:root {
    --header-bg-color-primary: #0f0f12;

    --bg-color-primary: #0f0f12;
    --bg-color-secondary: #1f1f24;

    --text-color-primary: white;
    --text-color-secondary: rgb(164, 170, 184);
    --text-color-tertiary: black;

    --theme-color-primary: #eb5757;
    --theme-color-primary-dark: rgb(196, 58, 58);
    --theme-color-secondary: #26262d;
    --theme-color-secondary-dark: #15151a;
}

/** General Styles **/
html,
body {
    height: 100%;
}

body {
    color: var(--text-color-primary);

    font-family: "Source Sans Pro", sans-serif;
    margin: 0;
}

a {
    color: var(--text-color-primary);
    text-decoration: none;
}

a:visited {
    color: var(--text-color-primary);
}

/* Colors */
.highlight {
    color: var(--theme-color-primary);
}

/* Header Styles */
header {
    background: var(--header-bg-color-primary);
    color: var(--text-color-primary);

    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
    font-size: 16px;
    font-weight: 600;

    min-height: 55px;
    padding: 0 30px 0 30px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#header-title {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo-container a {
    justify-self: center;
}

#header-name {
    margin-left: 22px;
}

#header-logo {
    height: 30px;
    width: auto;

    justify-self: center;
}

/* Navbar Styles */
#header-nav-list {
    list-style: none;
    padding: none;
    margin: 0;
}

#header-nav-list li {
    border-bottom: 2px solid var(--bg-color-primary);

    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 55px;
    box-sizing: border-box;
    transition: all 0.3s ease 0s;
}

#header-nav-list li:hover {
    transition: all 0.3s ease-in 0s;
    border-bottom: 3px solid var(--theme-color-primary);
    background: var(--bg-color-secondary);

    cursor: pointer;
}

#header-nav-list li a {
    display: block;
    padding: 17.5px 22px 17.5px 22px;
}

#settings {
    padding: 17.5px 22px 17.5px 22px;
}

/** Homepage Styles **/
#background {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -5;
}

#home-main {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

    height: calc(85% - 55px);
}

#splash-text {
    font-size: 48px;
    font-weight: bold;
}

#desc {
    margin: 50px 0 60px 0;
}

.homepage-button button {
    color: var(--text-color-primary);

    border-radius: 8px;
    border: 1px solid #ffffff;
    box-sizing: border-box;
    font-size: 14px;
    font-weight: 500;

    display: inline-block;
    width: 160px;
    height: 40px;

    margin: 0 15px 0 15px;
}

.homepage-button button:hover {
    cursor: pointer;
}

#about-button button {
    background: var(--theme-color-primary);
}

#about-button button:hover {
    background: var(--theme-color-primary-dark);
    transition: all 0.3s ease 0s;
}

#project-button button {
    background: var(--theme-color-secondary);
}

#project-button button:hover {
    background: var(--theme-color-secondary-dark);
    transition: all 0.3s ease 0s;
}
