/*** Main Site Styles ***/

/* Variable declarations */
:root {
    --header-bg-color-primary: #0F0F12;

    --bg-color-primary: #0F0F12;
    --bg-color-secondary: #1F1F24;

    --text-color-primary: white;
    --text-color-secondary: rgb(164, 170, 184);
    --text-color-tertiary: black;

    --theme-color-primary: #EB5757;
    --theme-color-secondary: rgb(196, 58, 58);
}

/** General Styles **/
body {
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
}

/* Header Styles */
header {
    background: var(--header-bg-color-primary);
    color: var(--text-color-primary);

    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    font-size: 18px;
    font-weight: bold;

    height: 55px;
    padding: 0 30px 0 30px;
}

.header-section {
    align-self: center;
}

.header-1 {
    justify-self: left;
}

.header-2 {
    justify-self: center;
}

.header-3 {
    justify-self: right;
    align-items: center;
}

#header-name {
    margin-left: 22px;
}

#header-logo {
    height: 30px;
    width: auto;
}

/* Navbar Styles */
#header-nav-list {
    list-style: none;
    padding: none;
    margin: 0;
}

#header-nav-list li {
    border-bottom: 2px solid var(--bg-color-primary);

    float: left;
    padding: 0 22px 0 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 55px;
    box-sizing: border-box;
    transition: all 0.3s ease 0s;
}

#header-nav-list li:hover {
    transition: all 0.3s ease-in 0s;
    border-bottom: 3px solid var(--theme-color-primary);
    background: var(--bg-color-secondary);

    cursor: pointer;
}

/** Homepage Styles **/
#background {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: calc(1080vw / 19.2);
    z-index: -5;
}