<main id="home-main">
    <section id="home-content">
        <div id="splash-text">Hey. I'm <span class="highlight">Francis Borja</span>.</div>
        <p>I'm a Computer Science student from New Jersey. Welcome to my website!</p>
        <div id="button-container">
            <a id="about-button" class="homepage-button"><button>Learn more about me</button></a>
            <a id="project-button" class="homepage-button"><button>See what I'm up to</button></a>
        </div>
    </section>
</main>
<video autoplay muted loop id="background">
    <source src="/public/img/background-loop-grey.mp4" type="video/mp4" />
</video>